# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\aFile\Yaguantech\ArgraceSmartApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
